<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <%- include('partials/header') %>

  <main>

    <h2>Últimas entradas del blog</h2>
  <div class="contenedor">
    <% posts.forEach(post => { %>
      <a href="/post/<%= post.id %>" class="tarjeta">
        <img src="<%= post.thumbnail %>" alt="<%= post.title %>">
        <h3 class="titulo-tarjeta"><%= post.title %></h3>
      </a>
    <% }); %>
  </div>

  </main>

  <%- include('partials/footer') %>
  
</body>
</html>